{%extends 'base.html' %}
{%block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-4">
            <h3>Locación: {{area}} </h3>
        </div>
        <div class="col-md-6 mt-4">
            <a href="{% url 'crear_subarea' %}" class="btn btn-info" title="Crear area">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>

    <div class="row mt-4">

        {% for subarea in subareas %}
        <ul class="card">
            <li>
                <a href="{%url 'detalle_subareas' subarea.id %}">
                    <h3>{{subarea.nombre}}</h3>
                </a>
                <h6>Código de área: {{subarea.cod_subArea}}</h6>
            </li>
        </ul>
        {% endfor %}

    </div>
</div>

{% endblock %}