{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>Máquinas</h1>
    <div class="row">
        {% for maquina in maquinas %}
        <div class="col-md-3 mb-3">
            <div class="card h-100">
                <img src="{% if maquina.foto %}{{ maquina.foto.url }}{% else %}https://via.placeholder.com/300x200?text=No+Imagen{% endif %}" class="card-img-top" alt="{{ maquina.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ maquina.nombre }}</h5>
                    <p class="card-text">CODIGO: {{ maquina.codigo }}</p>
                    <a class="btn btn-primary" href="{% url 'mantenimiento_maquina_pendiente' maquina.id %}">Mantenimientos</a>
                    <a class="btn btn-dark" href="{% url 'detalle_maquina' maquina.id %}"> Detalles</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}