{%extends 'base.html' %}
{%block content %}

<div class="container">
    <div class="row mt-3">
        <div class="col-md-6 mb-3">
            <h2>
                Area: {{subarea}}
            </h2>
        </div>
        <div class="col-md-6 mb-3 text-end">
            <a href="{% url 'nueva_maquina' subarea.id %}" class="btn btn-success" title="Añade nueva máquina">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="row mt-3">
        {% for maquina in maquinas %}
        <div class="col-md-3 mb-3">
            <div class="card h-100">
                <img src="{% if maquina.foto %}{{ maquina.foto.url }}{% else %}https://via.placeholder.com/300x200?text=No+Imagen{% endif %}"
                    class="card-img-top" alt="{{ maquina.nombre }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ maquina.nombre }}</h5>
                    <p class="card-text">CODIGO: {{ maquina.codigo }}</p>
                    <a class="btn btn-primary" href="{% url 'mantenimiento_maquina_pendiente' maquina.id %}">Mantenimientos</a>
                    <a class="btn btn-dark" href="{% url 'detalle_maquina' maquina.id %}"> Detalles</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}